$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$theme-colors: (
  "primary": #161149,
  "light": #E3EAEB,
  "danger": $red,
  "warning": $yellow
);
$colors: (
  "white": #E3EAEB,
);

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  // display: flex;
  // flex-direction: column;
  // min-height: 100vh;
}

.footer {
  height: 100px;
  // margin-top: auto;
  // position: relative
}

.pagination .page-item.active .page-link {
  background-color: #161149;
  border-color: #161149;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
  border-color: #E3EAEB;
  color: #161149;
  background-color: #E3EAEB;
}

.pagination .page-item.active .page-link:hover {
  border-color: #E3EAEB;
  color: #161149;
  background-color: #E3EAEB;
}

@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';